/* buttons */

.btn-primary {
  background-color: var(--white);
  border: 2px solid #000;
  padding-inline: var(--measure-1);
  padding-block: 0.5rem;
  color: var(--black);
  font-weight: 500;
  transition: 0.3s;
  text-transform: capitalize;
}
.btn-primary:hover {
  background-color: var(--gray-700);
  color: var(--white);
}
.btn-primary:active {
  background-color: var(--gray-500);
  color: var(--white);
}
.btn-primary:disabled {
  color: var(--gray-500);
  border-color: var(--gray-500);
  background-color: var(--white);
}
