:root {
  --white: #fff;
  --black: #000;
  --gray-700: #3b3f41;
  --gray-500: #737373;
  --gray-200: #bebebe;
  --neutral-800: #1e2b38;
  --neutral-700: #384655;
  --neutral-600: #5c7083;
  --neutral-500: #8da0b2;
  --neutral-100: #f5fafd;
}
